In [89]:
import pandas as pd
import nltk
import string
from pandas import DataFrame

In [90]:
d=[line.rstrip() for line in open('001.txt')]
d=''.join(d)

In [91]:
df = []

In [92]:
df.append(d)

In [93]:
for i in range (2,10):
    msg=[line.rstrip() for line in open('00'+str(i)+'.txt')]
    c=c+1
    msg=''.join(msg)
    df.append(msg)
    #d=d+msg

In [94]:
for i in range (10,100):
    msg=[line.rstrip() for line in open('0'+str(i)+'.txt')]
    c=c+1
    msg=''.join(msg)
    df.append(msg)

In [95]:
for i in range (100,511):
    msg=[line.rstrip() for line in open(str(i)+'.txt')]
    c=c+1
    msg=''.join(msg)
    df.append(msg)

In [96]:
def process(msg):
    nopunc = [char for char in msg if char not in string.punctuation]
    nopunc = ''.join(nopunc)
    return [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]

In [97]:
from nltk.corpus import stopwords

In [98]:
df = DataFrame (df,columns=['Text'])

In [99]:
df['Text'].apply(process)

0      [Ad, sales, boost, Time, Warner, profitQuarter...
1      [Dollar, gains, Greenspan, speechThe, dollar, ...
2      [Yukos, unit, buyer, faces, loan, claimThe, ow...
3      [High, fuel, prices, hit, BAs, profitsBritish,...
4      [Pernod, takeover, talk, lifts, DomecqShares, ...
                             ...
505    [Trial, begins, Spains, top, bankerThe, trial,...
506    [UK, economy, ends, year, spurtThe, UK, econom...
507    [HealthSouth, exboss, goes, trialThe, former, ...
508    [Euro, firms, miss, optimismMore, 90, large, c...
509    [Lacroix, label, bought, US, firmLuxury, goods...
Name: Text, Length: 510, dtype: object

In [100]:
df.describe()

                                                     Text
count                                                 510
unique                                                503
top     S Korea spending boost to economySouth Korea w...
freq                                                    2

In [101]:
from sklearn.feature_extraction.text import CountVectorizer

In [102]:
query='boost'

In [104]:
for i in range(0,510):
    m=df['Text'][i]
    transformer = CountVectorizer(analyzer=process).fit([m])
    bowmsg = transformer.transform([m])
    for j in transformer.get_feature_names():
        if j==query:
            val=i+1
            print('The text files are'+str(val))
            break

The text files are1
The text files are2
The text files are7
The text files are13
The text files are31
The text files are32
The text files are35
The text files are44
The text files are50
The text files are54
The text files are56
The text files are65
The text files are68
The text files are75
The text files are89
The text files are97
The text files are106
The text files are112
The text files are117
The text files are120
The text files are129
The text files are133
The text files are134
The text files are140
The text files are142
The text files are150
The text files are154
The text files are155
The text files are159
The text files are162
The text files are171
The text files are180
The text files are188
The text files are191
The text files are199
The text files are202
The text files are208
The text files are210
The text files are225
The text files are241
The text files are247
The text files are249
The text files are251
The text files are253
The text files are258
The text files are259
The text files are270
The text files are280
The text files are288
The text files are312
The text files are313
The text files are328
The text files are344
The text files are352
The text files are356
The text files are383
The text files are387
The text files are395
The text files are429
The text files are441
The text files are454
The text files are456
The text files are476
The text files are478
The text files are485
The text files are488
The text files are508