In [1]:
import pandas as pd
import nltk
import string
from pandas import DataFrame

In [2]:
d=[line.rstrip() for line in open('001.txt')]
d=''.join(d)

In [3]:
df = []
c=0

In [4]:
df.append(d)

In [5]:
for i in range (2,10):
    msg=[line.rstrip() for line in open('00'+str(i)+'.txt')]
    c=c+1
    msg=''.join(msg)
    df.append(msg)
    #d=d+msg

In [6]:
for i in range (10,100):
    msg=[line.rstrip() for line in open('0'+str(i)+'.txt')]
    c=c+1
    msg=''.join(msg)
    df.append(msg)

In [7]:
for i in range (100,511):
    msg=[line.rstrip() for line in open(str(i)+'.txt')]
    c=c+1
    msg=''.join(msg)
    df.append(msg)

In [8]:
c

509

In [9]:
def process(msg):
    nopunc = [char for char in msg if char not in string.punctuation]
    nopunc = ''.join(nopunc)
    return [word for word in nopunc.split()]

In [10]:
df = DataFrame (df,columns=['Text'])

In [11]:
df['Text'].apply(process)

0      [Ad, sales, boost, Time, Warner, profitQuarter...
1      [Dollar, gains, on, Greenspan, speechThe, doll...
2      [Yukos, unit, buyer, faces, loan, claimThe, ow...
3      [High, fuel, prices, hit, BAs, profitsBritish,...
4      [Pernod, takeover, talk, lifts, DomecqShares, ...
                             ...
505    [Trial, begins, of, Spains, top, bankerThe, tr...
506    [UK, economy, ends, year, with, spurtThe, UK, ...
507    [HealthSouth, exboss, goes, on, trialThe, form...
508    [Euro, firms, miss, out, on, optimismMore, tha...
509    [Lacroix, label, bought, by, US, firmLuxury, g...
Name: Text, Length: 510, dtype: object

In [12]:
df.describe()

                                                     Text
count                                                 510
unique                                                503
top     Steady job growth continues in USThe US create...
freq                                                    2

In [13]:
from sklearn.feature_extraction.text import CountVectorizer

In [14]:
transformer = CountVectorizer(analyzer=process).fit(df['Text'])

In [15]:
bow = transformer.transform(df['Text'])

In [16]:
bow

<510x16440 sparse matrix of type '<class 'numpy.int64'>'
	with 97783 stored elements in Compressed Sparse Row format>

In [17]:
query='boost'

In [ ]:
for i in range(0,510):
    m=df['Text'][i]
    #print(m)
    bowmsg = transformer.transform([m])
    for j in range(0,bowmsg.shape[1]):
        #print('aa')
        if transformer.get_feature_names()[j]==query:
            print('The file in which this query is present is '+str(i+1))
            break